



.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color:black;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color:orange;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color:grey;
    font-weight: bold;
    font-size: 14px;
}
.i-button{
    
    
    border-radius: 34px;
    border: none;
    color: white;
    text-align: center;
    margin-left: 30%;
    
    background: linear-gradient(180deg,#fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251,161,40,0,42);
    padding: 11px 26px 11px 26px;
}
.i-button:hover{
    background: white;
    cursor: pointer;
    color: orangered;
    border: 1px solid orangered;

}
 
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap:0rem;
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*:hover{
    cursor: pointer;

}
.i-right{
    flex:1;
    position: relative;

}
.i-right>*{
    position: absolute;
    z-index: 1;

}
.girl{
    height:400px;
    
}
.i-right>:nth-child(2){
   transform: scale(0.69);
   left: 15%;
   top:25%;
}
.i-right>:nth-child(3){
    transform: scale(0.67);
    left: -3rem;
    margin-top: 16%
 }
.i-right>:nth-child(1){
   transform: scale(1.4);
   left:130px;
   
   
   
}